{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}


{% block main %}

<div class="content">
    <h1>About My Final Project</h1>
    <P></P>
    <p>This website is dedicated to my final project for the CS50 course from Harvard University.</p>
    <p>As part of my project, I have set up different chat bots to experiment with various artificial intelligence technologies and techniques.</p>
    <p>Through this project, I aim to explore the capabilities of AI and its potential applications in different domains.</p>
    <p>Feel free to explore the site and learn more about the chat bots and the technologies behind them!</p>
</div>
{% endblock %}
