{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class="content">
    
        <h1>Welcome to Llama Chat!</h1>
        <p>We're excited to introduce you to our friendly llama chatbot. </p>
        <p>Whether you're seeking information, assistance, or just want to have a fun conversation, our llama chatbot is here to help!</p>
        <P></P>
        <p>Feel free to start chatting with our llama friend by clicking on the chat button below. </p>
        <p>Ask anything you'd like, and our llama chatbot will do its best to provide you with helpful responses.</p>
        
          <P>           <a href="/7B" type="button" class="btn btn-primary">Start chatting</a></p>
</div>   
   
{% endblock %}
